$color: #fff;

.container {
  @apply overflow-hidden;

  .custom-shape-divider-top-1641087221 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1641087221 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-top-1641087221 .shape-fill {
    fill: $color;
  }
}
