@mixin titleBase() {
  @apply text-blueGray;
}

.header {
  // background-image: radial-gradient(
  //   at 50% 0%,
  //   rgb(49, 51, 83),
  //   rgb(26, 28, 58)
  // );
  background-image: radial-gradient(
    at 100% 0%,
    rgb(49, 49, 83),
    rgb(38, 26, 58) 85%
  );

  @apply pb-12 lg:pb-44 lg:pt-12;

  position: relative;

  .container {
    @apply my-12 lg:my-0 flex flex-col lg:flex-row items-center text-white space-x-36;

    .content {
      flex: 1;

      > h1 {
        @apply font-bold;

        @apply text-5xl sm:text-6xl;
        @apply text-center md:text-left;

        line-height: 5rem;
      }

      > h2 {
        @apply mt-6 leading-[2rem];

        @apply text-center sm:text-left;
        @apply mx-auto sm:mx-0;
      }

      .buttons {
        @apply flex-col flex items-center;
        @apply md:flex-row md:space-x-6 mt-10;

        .button {
          @apply shadow-lg px-8 py-4 rounded bg-blueB text-white text-sm font-semibold hover:bg-blueC transition;
          @apply w-full md:w-auto;
        }

        .subtleText {
          @apply uppercase text-gray-400 text-xs font-semibold;
          @apply mt-6 md:mt-0;
        }
      }
    }

    .graphic {
      flex: 1;

      @apply hidden lg:block;
    }
  }
}

.frameworksContainer {
  @apply py-20 text-center;

  .title {
    > h1 {
      @include titleBase();

      @apply flex flex-row items-center justify-center;
      @apply text-2xl font-semibold leading-[3.25rem];

      .icon {
        @apply text-red-600 mx-2;
      }
    }
  }

  .subtitle {
    @apply text-sm text-gray-500 leading-[1.75rem];
  }

  .frameworksImages {
    @apply flex flex-row justify-center;

    > div {
      @apply inline-block m-4;
    }
  }
}
