.container {
  .custom-shape-divider-bottom-1640826407 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1640826407 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 76px;
  }

  .custom-shape-divider-bottom-1640826407 .shape-fill {
    fill: #ffffff;
  }
}
