$bgColor: rgb(26, 28, 58);

.footerContainer {
  background-color: $bgColor;

  @apply py-24 relative mt-20;

  .content {
    @apply relative z-50;

    > h1 {
      @apply text-white text-3xl font-semibold;
    }

    > h2 {
      @apply text-white mt-2 text-lg;
    }
  }
}

.skewContainer {
  background-color: $bgColor;

  display: flex;

  transform: skew(0, -2deg);
  width: 100%;
  height: 100%;
  z-index: 10;

  position: absolute;
  top: 0;
  left: 0;

  transform-origin: bottom left;
}
